<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <div id="loading">
        <img id="loading-image" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="Loading..." />
    </div>
    <div class="container-fluid" id="calendarCreateContainer">
        <div class="card bg-light border" id="cardCalendar">
            <div class="card-body">
                    <div class="row">
                        <div class="input-group mb-3" id="calendarDateFrom">
                            <p><strong>Datum der Woche von: </strong></p>
                            <input type="text" class="form-control" style="margin-left: 2em; min-width: 10em; max-width: 15em;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3" id="calendarDateUntil">
                            <p><strong>Datum der Woche bis: </strong></p>
                            <input type="text" class="form-control" style="margin-left: 2em; min-width: 10em; max-width: 15em;">
                        </div>
                    </div>          
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary" type="button" id="saveBtn">Speichern</button>
                </div>
            </div>
        </div>
        <!--Table Montag-->
        <table 
            class="table"
            data-toggle="table"
            data-pagination="true"
            data-url=""
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-search="true"                          
            data-show-pagination-switch="true"
            data-id-field="class_id"
            data-page-list="[10, 25, 50, 100, ALL]"
            data-show-footer="false">
            <!--th:each="student : ${students}"-->
            <thead class="table-light">
                <tr>
                    <div class="card text-center text-bg-secondary">
                        <div class="card-header">
                          <strong>Montag</strong>
                        </div>
                      </div>
                </tr>
                <tr>
                    <th scope="col">Stunde</th>
                    <th scope="col">Klasse</th>
                    <th scope="col">Fach</th>
                    <th scope="col">Raum</th>
                    <th scope="col">Zeit von</th>
                    <th scope="col">Zeit bis</th>            
                </tr>
            </thead>
            <tbody>
                <!--lesson 1-->
                <tr>
                    <th scope="row" id="numLesson">1</th>
                    <td>
                        <div class="input-group mb-3" id="calendarInputClass1">
                            <input type="text" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3" id="calendarInputCourse1">
                            <input type="text" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3" id="calendarInputRoom1">
                            <input type="text" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3" id="calendarInputTimeFrom1">
                            <input type="text" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3" id="calendarInputTimeUntil1">
                            <input type="text" class="form-control">
                        </div>
                    </td>
                </tr>
                <tr>
                    <table id="weeklyTable">
                        <thead class="table-light">
                            <tr><strong>Notizen</strong></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="input-group mb-3" id="calendarInputNotes1">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </tr>
            </tbody>
        </table>
        
    </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
<script src="/js/grade_create.js"></script>
</html>