<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <!--Image only appears when page is being loaded-->
    <div id="loading">
        <img id="loading-image" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="Loading..." />
    </div>
    <div class="container-fluid" id="calendarCreateContainer">
        <div class="card bg-light border" id="cardCalendar">
            <div class="card-body">
                <!--Button navigates back to overview of classes-->
                <a href="/class" class="btn btn-secondary" type="button" style="margin-bottom: 2em;">&#5130 Klassenübersicht</a>
                <div class="row">
                    <!--Input field to enter date of first date of chosen week-->
                    <div class="input-group mb-3">
                        <p><strong>Datum der Woche von: </strong></p>
                        <input type="text" id="calendarDateFrom" class="form-control" style="margin-left: 2em; min-width: 10em; max-width: 15em;">
                    </div>
                </div>
                    <div class="row">
                        <!--Input field to enter date of first date of chosen week-->
                        <div class="input-group mb-3">
                            <p><strong>Datum der Woche bis: </strong></p>
                            <input type="text" id="calendarDateUntil" class="form-control" style="margin-left: 2em; min-width: 10em; max-width: 15em;">
                        </div>
                    </div>          
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!--Button saves data entered or changed in input fields-->
                    <button class="btn btn-primary" type="button" id="saveBtn">Speichern</button>
                </div>
            </div>
        </div>
        <!--Table for each day of the week, Monday - Sunday-->
        <div id="tableArea">
        </div>
        
        
    </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
<script src="/js/calendar_weekly_create.js"></script>
</html>