<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div th:each="class : ${list}" class="card">
                <div class="card-body">
                    <h1 th:text="${class}"></h1>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
</html>