<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <!--Image only appears when page is being loaded-->
    <div id="loading">
        <img id="loading-image" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="Loading..." />
    </div>
    <div class="container-fluid" id="gradeCreateContainer">
        <div class="card bg-light border" id="cardGrade">
            <div class="card-body">
                <!--Button navigates back to overview of classes-->
                <a href="/class" class="btn btn-secondary" type="button" style="margin-bottom: 2em;">&#5130 Klassenübersicht</a>
                    <div class="row justify-content-between">
                        <div class="col">
                            <h5><strong>Fach: </strong></h5>
                            <h5 th:text="${cours.name}"></h5>
                        </div>
                        <div class="col">
                            <h5><strong>Datum: </strong></h5>
                            <h5 th:text="${date}"></h5>
                        </div>
                        <div class="col">
                            <h5><strong>Klasse: </strong></h5>
                            <h5 th:text="${class.name}"></h5>
                            <h5 id="lessonId" style="display: none;" th:text="${lesson.id}"></h5>
                            <h5 id="teacherId" style="display: none;" th:text="${teacher.id}"></h5>
                            <h5 id="classId" style="display: none;" th:text="${class.id}"></h5>
                        </div>
                        <div class="col">
                            <h5><strong>Klassenlehrer: </strong></h5>
                            <h5 th:text="${teacher.name}"></h5>
                          </div>
                    </div>                    
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!--Button saves data entered or changed in input fields-->
                    <button class="btn btn-primary" type="button" id="saveBtn">Speichern</button>
                </div>
            </div>
        </div>
        <table 
            id="gradeTable"
            class="table table-fixed table-condensed"
            data-toggle="table"
            data-pagination="true"
            data-url=""
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-search="true"                          
            data-show-pagination-switch="true"
            data-id-field="class_id"
            data-page-list="[10, 25, 50, 100, ALL]"
            data-show-header="false"
            data-show-footer="false"
            th:each="student : ${students}">
            <!-- For photo import-->
            <!--thead class="table-light">
                <tr>
                    <th data-field="student_vorname" data-formatter="">Vorname</th>
                    <th data-field="student_name" data-formatter="">Nachname</th>
                </tr>
            </thead-->
            <tbody>
                <tr>
                    <!-- For photo import-->
                    <!--td rowspan="2">
                        <img th:id="'student' + ${student.id}" src="${student.photo}" width="100" height="150" 
                            th:onclick="studentPhotoClick([[${student.id}]] ,[[ ${student.photo}]])">
                        <div th:id="'photoUpload' + ${student.id}" class="col-md-8 mx-auto" style="display:none">
                            <form method="post" th:action="@{/image/upload}" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="btn label">
                                        <input th:id="'input' + ${student.id}" type="file" name="image" accept="image/*" class="form-control-file">
                                        <span>Select</span>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary" style="width: 100px;">Upload</button>
                            </form>
                        </div>
                    </td-->
                    <td>
                        <h5 th:text="${student.vorname} + ' ' + ${student.name}"></h5>
                        <!-- For photo import-->
                        <!--dl>
                            <dt th:text="${student.vorname}"></dt>
                            <dt th:text="${student.name}"></dt>
                            <dt id="studentId" th:text="${student.id}" style="display: none;"></dt>
                        </dl-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table mb-0">
                            <div class="input-group mb-3" id="gradeInput">
                                <input type="text" class="form-control gradeSingleInput">
                            </div>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
<script src="/js/grade_create.js"></script>
</html>