<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <div id="containerLogin">
        <div class="card position-absolute top-50 start-50 translate-middle" style="max-width: 600px; margin-top: 2em; min-width: 400px;">
            <div class="card-body">
                <h1>Anlage Notenübersicht</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Klasse</label>
                    </div>
                    <select class="custom-select form-control" id="inputClass">
                      <option selected>Choose...</option>
                      <div th:each="class : ${classes}">
                        <option th:value="${class.id}" th:text="${class.name}">One</option>
                      </div>
                    </select>
                  </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Klassenlehrer</label>
                    </div>
                    <select class="custom-select form-control" id="inputTeacher">
                      <option selected>Choose...</option>
                      <div th:each="teacher : ${teachers}">
                        <option th:value="${teacher.id}" th:text="${teacher.name}">One</option>
                      </div>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Fach</label>
                    </div>
                    <select class="custom-select form-control" id="inputCourse"> 
                      <option selected>Choose...</option>
                      <div th:each="cours : ${courses}">
                        <option th:value="${cours.id}" th:text="${cours.name}">One</option>
                      </div>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <input type="datetime-local" id="inputStartDate" name="trip-start" class="form-control"
                        value="2018-07-22"
                        min="2018-01-01" max="2018-12-31">
                  </div>
                  <div class="input-group mb-3">
                    <input type="datetime-local" id="inputEndDate" name="trip-start" class="form-control"
                        value="2018-07-22"
                        min="2018-01-01" max="2018-12-31">
                  </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Raum</label>
                  </div>
                  <input id="inputRoomCode" type="text" class="form-control" placeholder="" aria-label="endDate" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Beschreibung</label>
                  </div>
                  <input id="inputDescription" type="text" class="form-control" placeholder="" aria-label="endDate" aria-describedby="basic-addon1">
                </div>
                <div class="d-grid gap-2">
                  <a class="btn btn-primary" id="saveBtn">Speichern</a>
                  <a class="btn btn-primary" id="closeBtn">Abbruch</a>
                </div>
            </div>
        </div>
    </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
<script src="/js/grade_entry.js"></script>
</html>