<!DOCTYPE html>
<html lang="en">
<head th:replace="components/header::header">
</head>
<body>
    <div class="container">
        <div class="mx-auto"></div>
        <div class="card text-center" style="max-width: 600px">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Benutzername" aria-label="Benutzername" aria-describedby="basic-addon1" id="inputUsername">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Passwort" aria-label="Passwort" id="inputPassword">
                </div>
                <div class="d-grid gap-2">
                    <a href="#" class="card-link">Passwort vergessen?</a><br><br>
                    <a href="#" class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
<section id="scripts" th:replace="components/scripts::scripts"></section>
</html>